
<div
     x-data="FormFiles"
     id="FileUpload"
     class="file-upload__bg"
>
    <div x-if="filesUploaded !== null">
        <div class="columns">
            <div
                 x-for="(fileUpload,index) in filesUploaded"
            >
                <div class="rows">
                    
                    <button x-on:click="handleDeleteFile(fileUpload, index)">
                        x
                    </button>
                    <span
                         class="font-medium text-gray-900"
                         x-text="filesUploaded[index].file_name"
                    >Uploading</span
                    >
                    <span
                         class="text-xs self-end text-gray-500"
                         x-text="filesUploaded[index].file_url"
                    >...</span
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="input_container">
        <input
             type="file"
             multiple
             class="file-upload__input"
             x-on:change="handleFileChange($event)"
             x-on:dragover="$el.classList.add('active')"
             x-on:dragleave="$el.classList.remove('active')"
             x-on:drop="$el.classList.remove('active')"
        />
        <div class="empty-cols">
            <i
                 class="fas fa-cloud-upload-alt fa-3x text-currentColor"
            ></i>
            <p class="text-gray-700">
                Drag your files here or click in this area.
            </p>
            <a href="javascript:void(0)" class="file-select__btn"
            >Select a file</a
            >
        </div>
    </div>
</div>
