.aa-PanelLayout {
  z-index: 99999;
  background: #fff;
  max-height: 300px;
}

#aa-pathology-label {
  margin-bottom: -2px;
}

.modal_dialog_backdrop.active {
  position: absolute;
  inset: 0px;
  background: rgba(12, 14, 22, 0.5);
}
